.movie__table {
  max-width: 300px;
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  margin: 0 auto;
  grid-template-columns: min-content;
  gap: 39px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .movie__table {
    max-width: 339px;
    grid-template-columns: repeat(2, min-content);
    gap: 47px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movie__table {
    max-width: 360px;
    grid-template-columns: repeat(3, min-content);
    gap: 60px 30px;
  }
}

.movie__list {
  position: relative;
}

.movie__list:last-of-type {
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .movie__list {
    margin-bottom: 12px;
  }
  
  .movie__list:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .movie__list {
    margin-bottom: 0;
  }
}

.movie__add {
  margin: 50px 10px 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: #f9f9f9;
  border-radius: 6px;
  width: 300px;
  height: 36px;
  border: none;
  cursor: pointer;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .movie__add {
    width: 708px;
    margin: 50px 0 80px;
  }
}

@media screen and (min-width: 1280px) {
  .movie__add {
    width: 1140px;
    margin: 76px 70px 80px;
  }
}
